<!DOCTYPE html>
<html lang="en">
  <%- include('./pages/partials/head'); -%>
  <body>
    <%- include('./pages/partials/header'); -%> <%-
    include('./pages/partials/breadcrumbs'); -%>

    <div id="primary" class="content-area">
      <div class="container">
        <div class="row">
          <!-- MAIN CONTENT HERE -->
          <%- defineContent('main') %>
        </div>
      </div>
    </div>

    <%- include('./pages/partials/footer'); -%>
  </body>
</html>
